.back_button {
  position: absolute;
  background: transparent;
  border: none;
  color:black;
  left: 1em;
  top: 1em;
}

.back_button span {
  position: absolute;
  top: .3rem;
}

/* Media query for if system preference is dark mode */
@media (prefers-color-scheme: dark) {
  .back_button {
    color:white;
  }
}