.stub {
  display: inline-block;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.2em 0.4em 0.2em 0em;
  
  /* Square design with rounded corners */
  width: 2em;
  height: 2em;
  border-width: 1px;
  border-radius: 0.5em;
  border: solid;
  
  /* Center the icon */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  /* Subtle styling to indicate informational-only */
  cursor: default;
}

.stub:hover {
  border-color: #6d8585;
  background-color: #6d8585;

  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  -webkit-transition: border-color 100ms linear;
  -ms-transition: border-color 100ms linear;
  transition: border-color 100ms linear;
}

/* Media query for smaller devices */
@media screen and (max-width: 768px) {
  .stub {
    border-width: 1px;
  }
}

/* Media query for if system preference is dark mode */
@media (prefers-color-scheme: dark) {
  .stub:hover {
    border-color: #2e3a4a;
    background-color: #2e3a4a;
  }
  
  /* Media query for smaller devices */
  @media screen and (max-width: 768px) {
  }
}