.card {
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  height: 100%;
  border-radius: 0;
  padding: 2%;
  backdrop-filter: blur(.75rem);
  box-shadow: 0 0.2rem 0.2rem #161c24;
  color: white;
}

@media (max-width: 768px) {
  .card {
    box-shadow: none;
  }
}
