.card {
  position: fixed;
  top: 0;
  left: 0;
  width: 96%; /* Adjust width for smaller screens */
  height: 100%;
  border-radius: 0;
  padding: 2%;

  backdrop-filter: blur(.75rem);
  box-shadow: none;
}

.card::after {
  /*Source: https://codepen.io/ruben-fernandes/pen/gOKxKGa*/
  content: '';
  background-image: url(../../public/images/noise.jpg);
  background-size: contain;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.05;
  z-index: 999;
  pointer-events:none;

  color: black;
}

/* Media query for if system preference is dark mode */
@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 0 0.2rem 0.2rem #161c24;
    color: white;
  }
}

/* Dark mode on smaller devices - remove box shadow */
@media (prefers-color-scheme: dark) and (max-width: 768px) {
  .card {
    box-shadow: none;
  }
}
