:root {
    /* Project colors */
    --color-encom: #8b5cf6;
    --color-grid: #22c55e;
    --color-seatmap: #14b8a6;
    --color-cartograph: #1e3a5f;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    background-color: black;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin-top: 2em;
}

svg {
    position: relative;
    top: 0.2em;
    margin-right: 0.2em;
}