html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 2em;
}

svg {
    position: relative;
    top: 0.2em;
    margin-right: 0.2em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    a {
        color: white;
    }
}