.card {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 400px;
  padding: 2em;
  border-radius: 1em;

  backdrop-filter: blur(.75rem);
  box-shadow: 0 0.2rem 0.2rem #ababab99;
}

.card::after {
  content: '';
  background-image: url(../../public/images/noise.jpg);
  background-size: cover;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.05;
  z-index: 999;
  pointer-events:none;
  border-radius: 1em;

  color: black;
}

.name {
  font-size: 2em;
  width: 100%;
  padding-bottom: 1em;
}

.name span {
  margin-top: .5em;
}

.name img {
  float: right;
}

.title {
  display: block;
  font-size: 1em;
  margin-bottom: .5em;
}

/* Media query for smaller devices */
@media screen and (max-width: 768px) {
  .card {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 95%; /* Remove max-width restriction */
    border-radius: 0em;
    box-shadow: none;
  }
}

/* Media query for if system preference is dark mode */
@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 0 0.2rem 0.2rem #161c24;

    color: white;
  }

  /* Media query for smaller devices */
  @media screen and (max-width: 768px) {
    .card {
      box-shadow: none;
    }
  }
}
