.container {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(22,68,126,1) 100%);
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: block;
  font-size: 4rem;
  text-align: center;
}

.subheader {
  display: block;
  text-align: center;
  font-size: 2rem;
}

.subsubheader {
  display: block;
  text-align: center;
  font-size: 1em;
}

/* Media query for smaller devices */
@media screen and (max-width: 768px) {
}

/* Media query for if system preference is dark mode */
@media (prefers-color-scheme: dark) {
  .container {
    background-color: black;
    color: white;
  }
}