/* Page-specific overrides */
.content {
}

.header {
  margin-bottom: 2rem;
}

/* QR page styles */
.main {
  display: flex;
  gap: 2rem;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.qrContainer {
  padding: 1rem;
  border: 1px solid #262626;
}

.controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .controls {
    width: 100%;
  }
}
