.container {
  background-color: white;
  background-image: url(../public/images/_DSF0691.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;

  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
}

.card::after {
  content: '';
  background-image: url(../public/images/noise.jpg);
  background-size: cover;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.05;
  z-index: 999;
  pointer-events:none;
  border-radius: 1em;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 400px;
  padding: 2em;
  border-radius: 1em;

  backdrop-filter: blur(.75rem);
  box-shadow: 0 0.2rem 0.2rem #ababab99;
}

.name {
  font-size: 2em;
  width: 100%;
  padding-bottom: 1em;
}

.name span {
  margin-top: .5em;
}

.name img {
  float: right;
}

.title {
  display: block;
  font-size: 1em;
  margin-bottom: .5em;
}

.link {
  display: inline-block;
  font-size: 1em;
  padding: 0em .5em .1em .5em;
  margin: .2em;

  border-width: 1px;
  border-radius: 1em;
  border: solid;
}

.link:hover {
  border-color: #6d8585;
  background-color: #6d8585;

  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  -webkit-transition: border-color 100ms linear;
  -ms-transition: border-color 100ms linear;
  transition: border-color 100ms linear;
}

.copyright {
  color:white;
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 1em;
}

/* Media query for smaller devices */
@media screen and (max-width: 768px) {
  .card {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 95%; /* Remove max-width restriction */
    border-radius: 0em;
    box-shadow: none;
  }

  .link {
    border-width: 1px;
  }
}